* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1320px;
    min-height: 800px;
    /*background: #c3c3c3;*/
    margin: auto;
}

header {
    width: 100%;
    background: #ff5555;
    height: 250px;
}

main {
    width: 100%;
    background: #c3c3c3;
    min-height: 600px;
}