.btn {
    display: inline-block;
    background: gray;
    padding: 10px 20px;
    border-radius: 7px;
    color: #fff;
}

.btn-success {
    background: #0cf561;
}

.btn-danger {
    background: #c40a45;
}